{% extends 'base.html' %}

{% block content %}

<h2>Мої товари</h2>

<div class="products-grid">

{% for product in products %}

<div class="card">

    <h3>{{ product.title }}</h3>

    <p>{{ product.price }} грн</p>

    <p>{{ product.flavor }}</p>

</div>

{% empty %}

<p>У вас немає товарів</p>

{% endfor %}

</div>

<h2 style="margin-top: 60px;">
    Замовлення
</h2>

<div class="products-grid">

{% for order in orders %}

<div class="card">

    <h3>
        {{ order.product.title }}
    </h3>

    <p>
        Користувач:
        {{ order.user.username }}
    </p>

    <p>
        Дата:
        {{ order.created_at }}
    </p>

</div>

{% empty %}

<p>Замовлень поки немає</p>

{% endfor %}

</div>

{% endblock %}